/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
*{
    margin:0;
}
.tri-carousel-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    aspect-ratio: 1/1;
    position: relative;
}

.tri-carousel-center{
    display: inline-block;
    position: relative;
    height: 70%;
    aspect-ratio: 1/1.5;
    /* border: 1px solid black; */
}

.positioner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top:0;
    left:0;
    margin-top: 100px;
}

.tri-carousel-card{
    display: inline-block;
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    background-color: black;
    transition: transform 0.9s, 0.2s top ease-in-out;
    border: 0px solid transparent;
    border-radius: 10px;
    color:rgb(30, 86, 170);
}
.tri-carousel-card:hover{
    top: -5%;
    cursor: pointer;
}

.tri-carousel-card-shadow{
    width: 100%;
    position: absolute;
    bottom: -10%;
    height: 3%;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    border: 0px solid transparent;
    border-radius: 50%;
    filter: blur(6px); 
    transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out, 0.2s left ease-in-out, 0.2s height ease-in-out;
    pointer-events: none;
}
.tri-carousel-card:hover .tri-carousel-card-shadow{
    bottom: -15%;
    width: 90%;
    left: 5%;
    height: 2%;
}

.tri-carousel-card-title{
    display: flex;
    width: 100%;
    margin-top: 60%;
    padding: 2% 0;
    font-size: 2vw;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-family: "Fredericka the Great", cursive;
}



.tri-carousel-rarrow{
    position: absolute;
    right: -30%;
    top: 45%;
    height: 10%;
    aspect-ratio: 1/1;
    background-image: url("./images/chevron-right.svg");
    background-size: 100%;
}
.tri-carousel-larrow{
    position: absolute;
    left: -30%;
    top: 45%;
    height: 10%;
    aspect-ratio: 1/1;
    background-image: url("./images/chevron-left.svg");
    background-size: 100%;
}



/* GENERAL CLASSES */
.carousel-arrow{
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    z-index: 15;
}
.carousel-arrow:hover{
    transform: scale(1.2);
}
